.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 40px;
  height: 40px;
}

.item-1,
.item-2,
.item-3 {
  background-image: url("assets/images/1_KWvw0J4A3S8DwGlxyvzgqQ.jpeg");
  background-color: rgba($color: #000000, $alpha: 0.5);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;

  .container {
    display: flex;
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: flex-end;

    h2 {
      color: $white;
      font-size: 40px;
      padding-bottom: 50px;
    }
  }
}
.page {
  flex: 1;
}

.home-section-2 {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.home-left-column {
  padding-left: 10px;
  flex: 65%;
}

.article {
  padding-right: 20px;
  margin-bottom: 50px;
  img {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;
  }
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex: 100%;
}

.home-right-column {
  flex: 35%;
  .categories {
    background-color: $light_blue;
    padding: 20px 10px;
    .category {
      margin: 5px 0px;
      a {
        font-size: 18px;
      }
      span {
        color: $light_grey;
      }
    }
  }
}
#carouselExampleIndicators{
  width: 100%;
}